[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User settings
UserSettings/
*.user
*.csproj
*.sln
*.suo
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Unity cache
*.unitypackage

# OS generated
.DS_Store
Thumbs.db

# NWH demo / docs (não versionar)
Assets/ThirdParty/NWH/**/__Scenes/
Assets/ThirdParty/NWH/**/Demo/
Assets/ThirdParty/NWH/**/DemoContent/
Assets/ThirdParty/NWH/**/_Documentation/
Assets/ThirdParty/NWH/**/Documentation.zip

